.App {
  text-align: center;
  background-image: url(https://media.istockphoto.com/photos/professional-boxing-ring-picture-id1005889814?k=6&m=1005889814&s=612x612&w=0&h=FaCAJQEWjU1CQmIgMHJH92iwZ9ZFZ0KzvSw-zc7UvcM=);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.WorkerIcon {
  justify-self: center;
  height: 10rem;
  width: 10rem;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.SubmitWorker{
  margin-block-end:auto;
  background-image: url(https://images.unsplash.com/photo-1564585222527-c2777a5bc6cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
  justify-self: center;
  object-fit: contain;
  color: rgb(0, 255, 68);
  font-size: xx-large;
  font-weight: bolder;
  font-family: fantasy;
}

.SubmitHeader{
  font-size: x-large;
  font-family: fantasy;
}
.Card {
  background-color: azure;
  text-align: center;
  border: black solid 2px;
  padding: 1rem;
  width: 10rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #06aa5d;
  }

.NewTalentCards{
  margin-top: 20rem;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  gap:20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color:midnightblue;
  }

  .StarsPage{
    margin-top:3rem
  }
  .header{
    font-style: normal;
    font-family:cursive;
    color: lawngreen;
    background-color: black;
    background-size: cover;
  }

  .container{
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .FeatPic{
    justify-self: center;
    height: 80rem;
    width: 100rem;

  }

  .FeatureHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
  }
  .local{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
  }

  .MainEvent{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:75px;
    font-style: italic;
    outline-color: black;
    color: tomato;

  }

  .showDate{
    font-weight: bolder;
    font-variant-caps: titling-caps;
  }

  .ShowInfo{
    color:rgb(141, 254, 170);
    text-shadow: 2px 2px black;
  }

  .link {
    color:white;
    background-color: black;
    background-size: auto;
  }

  .SponsorPic{
  justify-self: center;
  height: 30rem;
  width: 30rem;

  }

.Sponsor {
  background-size: auto;
  color: black;
  background-color: whitesmoke;
  font-family: cursive;
  font-size: 30px;
}

.SponsorDetails {
  font-size: x-large;
  color:white;
  background-color: black;
  background-size: auto;

}

.prompt{
  height:25px;
  width:250px
}